@font-face {
	font-family: monospace;
	src: url("FiraCode.tff")
}
body {
background: #10183b;
color:white;
font-family: "lucida console";
font-size: 13px;
}
input {
	font-family: monospace;
	background: transparent;
	border: none;
	color : transparent;
    text-shadow : 0 0 0 #ffffff;
	font-size: inherit;
}
.log{
	color: grey;
}
.output{
	color: yellow;
}
.error{
	color: red;
}
input:focus{
	outline: none;
}
.cInput {
	width: 10px;
	border-right: 10px solid white;	

}

