@font-face {
	font-family: monospace;
	src: url("FiraCode.tff")
}
body {
background: rgb(16, 24, 59);
color:white;
font-family: "lucida console"
}
input {
	font-family: monospace;
	background: transparent;
	border: none;
	color: white;
}
input:focus{
	outline: none;
}
#cInput {
	width: 10px;
	border-right: 10px solid white;	

}

input:active{
	resize: auto;
}